# Игнорируем все объектные файлы
*.o

# Игнорируем директорию для объектных файлов
obj/

# Игнорируем исполнимые файлы
cipher_program

# Игнорируем сгенерированные файлы от IDE, если используете
.idea/
.vscode/

# Игнорируем файлы сгенерированные системой
*.log
*.bak
*.swp

